body {
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;

}

h1 {
  font-size: 76px;
  color:   rgba(32, 44, 178, 0.498);
  text-shadow: 
  2px 2px 4px  rgba(32, 44, 178, 0.498), 
  -2px -2px 3px whitesmoke;
 
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 250px 305px 200px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input {
  font-size: 35px;
  padding: 16px;
  border-radius: 9px;
  border: none;
}

.add-todo-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 35px;
  cursor: pointer;
  border-radius: 9px;
}

.delete-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 35px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 9px;
}

.todoName {
  font-size: 36px;
}
.todoDate {
  font-size: 36px;

}