body {
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  background-image: url(../assets/bg-white-pattern.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center; 
}

.container {
  flex-direction: column;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 15em;
  background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 4em 4em 8em rgba(32, 44, 178, 0.498);
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin-bottom: 100px;
}

.due-date-input,
.name-input {
  font-size: 35px;
  padding: 16px;
  border-radius: 9px;
  border: none;
}

.add-todo-button {background-image: linear-gradient(to right, rgba(102,51,153,1) 0%, #0f3443  51%, rgba(102,51,153,1)  100%)}
.add-todo-button {
    padding: 16px;
    text-align: center;
    border: none;
    font-size: 35px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .add-todo-button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }

.delete-todo-button {background-image: linear-gradient(to right, red 0%, #0f3443  51%, red  100%)}
.delete-todo-button {
   padding: 8px 32px;
   text-align: center;
   border: none;
   font-size: 35px;
   font-weight: bold;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   cursor: pointer;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .delete-todo-button:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

.todoName {
  font-size: 35px;
  background-color: white;
  padding: 6px 16px;
  border-radius: 9px;
}
.todoDate {
  font-size: 35px;
  background-color: white;
  padding: 6px 16px;
  border-radius: 9px;
}



@media (max-width: 1200px) {
  h1{
    font-size: 6em;
  }

  .due-date-input,
  .name-input {
      font-size: .99em;
      padding: 6px;
  }
  .add-todo-button,
  .delete-todo-button {
      font-size: .99em;
      padding: 6px 1px;
  }

  .todoDate,
  .todoName {
      font-size: .99em;
  }
}

@media (max-width: 400px) {
  h1{
      font-size: 4em;
  }
  .todo-grid,
  .todo-input-grid {
    grid-template-columns: 1fr;
  }
  .delete-todo-button,
  .due-date-input,
  .name-input {
      font-size: 1em;
      padding: 1px;
  }
  .add-todo-button {
      font-size: 1.1em;
      padding: 2px 1px;
  }
  .delete-todo-button {
      padding: 3px;
  }
  .todoDate,
  .todoName {
      font-size: 1em;
  }
}

@media (min-width: 1024) {
  .container {
      width: calc(100% - 20px);
  }
}