body {
  background-color: black;
}

.positionCalcBody {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calcBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;

  background: linear-gradient(90.21deg, rgba(220, 222, 243, 0.563) -5.91%, rgba(32, 44, 178, 0.498) 111.58%);
 /* width: 450px;
  height: 650px; */
  border-radius: 10px;
  
  box-shadow:
    /* Hauptschatten */
    rgba(32,44,178,0.4) 3px 3px 10px,
    rgba(220,222,243,0.4) -3px -3px 10px,
    /* Außenschatten */
    rgba(32,44,178,0.2) 7px 7px 20px,
    rgba(220,222,243,0.2) -7px -7px 20px,
    /* Weicher Schatten */
    rgba(32,44,178,0.1) 10px 10px 30px,
    rgba(220,222,243,0.1) -10px -10px 30px;
}

.calcOutput  {
  width: 75%;
  min-height: 200px;
  background-color: transparent; 
  border: none;
  outline: none;
  text-align: right;
  color: whitesmoke;
  padding-right: 10px;
  
}

#display {
  background-color: transparent;
  text-align: right;
  border: none;
  width: 100%;
  height: 200px;
  resize: none;
  color: black;
  margin-top: 35px;
  font-size: 35px;
  overflow: hidden;
}

i {
  font-size: 34px;
}

.icon-style {
  color: lightblue;
  width: 78px;
  height: 78px;
}

.icon-style-warning {
  color: black;
  width: 78px;
  height: 78px;
}

.special-icon {
  color: lightblue;
  width: 163px;
  height: 78px;
  padding-left: 28px;
}

@media (max-width: 600px) {
  .calcBody {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
  }

  .calcOutput {
    font-size: 1.5em;
    padding: 5px;
  }

  .calcInput div {
    flex: 1 1 45%;
    margin: 2px;
  }

  .calcInput button {
    padding: 15px;
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  .calcBody {
    width: 85%;
    padding: 5px;
    margin: 0 auto;
  }

  .calcOutput {
    font-size: 1.3em;
    padding: 2px;
    padding-right:11px;
  
  }

  .calcInput div {
    flex: 1 1 100%;
    margin: 1px;
  }

  .calcInput button {
    padding: 10px;
    font-size: 1em;
  }

  i {
    font-size: 24px;
  }
  
  .icon-style {
    color: lightblue;
    width: 58px;
    height: 58px;
  }
  
  .icon-style-warning {
    color: black;
    width: 58px;
    height: 58px;
  }
  
  .special-icon {
    color: lightblue;
    width: 127px;
    height: 58px;
    padding-left: 28px;
  }
}

